.demo_code{
    margin-top: 2rem;
    background-color: #3c67e3;
    width:80%;
    margin-inline:10%;
    height:50vh;
    overflow-y: visible;
    color:white;
    text-align: center;
    margin-bottom: 3vh;
}
.demo_code h2{
    padding: 1rem;
    text-align: left;
}
.demo_code p{
    padding: 1rem;
    text-align: left;
}

.apiinfo .article h1 {
    font-size: calc(2vw + 0.7rem) !important;
  }

.apiinfo h1{
    margin: 0;
}
.apiinfo .titlediv{
    margin:10vh;
}

 .apiinfo .Overview{
    margin-top: 2rem;
    display: block;
    text-align: center;
    background-color: #3c67e3;
    width: 80%;
    margin-inline: 10%;
}

 .apiinfo h2{
    padding: 1rem;
    text-align: left;
}

.gauss{
    /* background-color: #3c67e3 !important; */
    text-align: justify;
    padding-left: 10% !important;
}