.appinfo-desc {
  background-color: rgba($color: #000000, $alpha: .4);
  // background-color: rgba($color: #000000, $alpha: .6);
  border-radius: 16px;
  padding: 32px;

  .tw-icon {
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: var(--contact-color);
    }
  }

  .desc-text {
    @include TextFont;
    font-style: italic;
    color: #828282;
    min-height: 80px;
  }

  .tags-wrap {
    margin-top: 12px;

    >.tag {
      border-radius: 60px;
      background-color: rgba($color: #8C74F9, $alpha: .4);
      padding: 6px 14px;

      &+.tag {
        margin-left: 12px;
      }
    }
  }
}