/* html, body {
    background: #27272C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
  } */
  
  .pip {
    width: 17px;
    height: 17px;
    margin: 7px;
    background-color: #525252;
    border-radius: 100%;
    transition: all .3s ease-in;
  }
  
  .pip--on {
    background-color: #587ce9;
    transform: scale(1.1);
  }
  
  .clock {
    display: flex
  }
  
  .binary-digit-group {
    display: flex;
    margin: 0 6px;
  }