.app-info {
    .app-info-wrap {
        background-color: var(--app-background-dark);
        background-image: url('../../static/img/marketplace/marketplace-bg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left top;
        background-attachment: fixed;
        color: white;
        padding: 60px 0 48px;

        // padding-bottom: 48px;
        .app-info__title {

            >.img-wrap {
                >img {
                    width: 210px;
                }
            }

        }

        h2 {
            font-size: 20px;
            color: white;
            font-weight: bold;
            @include TitleFont;
            font-style: italic;
        }

        h3 {
            font-style: italic;
            font-size: 15px;
            color: white;
            font-weight: bold;
            display: inline-block;
            @include TitleFont;

            &+span {
                margin-left: 12px;
            }
        }

        .info-item {
            >span {
                @include TextFont;
                font-style: italic;
                color: #828282;
            }
        }

        .app-info__desc {
            margin-top: 50px;

            .appinfo-desc {
                flex-shrink: 0;
                width: 60%;
                margin-right: 24px;
            }

            .appinfo-end-point {
                flex: 1;
            }

        }

        .demo-code {
            margin-top: 24px;
        }
    }

    .footer-wrap {
        margin-top: 0;
    }
}

@media (max-width: 1023px) {
    .app-info {
        .app-info__desc {
            >.appinfo-desc {
                width: 100% !important;
            }

            >.appinfo-end-point {
                margin-top: 24px;
            }
        }
    }
}