.demo-code {
  background-color: rgba($color: #000000, $alpha: .4);
  border-radius: 16px;
  padding: 32px;

  .code-wrap {
    margin-top: 24px;

    .hljs {
      background-color: transparent;
    }
  }
}