:root {
    --contact-color: #4076fe;
    --contact-color-t: #4076fe11;
}

.contact-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(100% - 2px);
    padding-bottom: 15px;
    padding-right: 2px; /* 视觉上居中 */
    opacity: inherit;
}

.contact-unfold{
    color: var(--contact-color-t);
    width: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    transition: all 1s;
}

.contact-unfold-text {
    margin-left: 10px;
    font-size: 1rem;
    cursor: pointer;
    pointer-events: all;
}

.contact-unfold:hover{
    width: 15rem;
    color: var(--contact-color);
}

.contact-unfold-short:hover{
    width: 12rem;
    color: var(--contact-color);
}

.contact-icon{
    color: var(--contact-color);
    font-size: 30px;
}