.graph-title-container{
    position: relative;
    height: 0;
    bottom: 60%;
}

.graph-title{
    z-index: 2;
    color: #b3c4f9;
    background: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    
    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 0px;
    line-height: 1;
}

.safari .graph-title {
    background: linear-gradient( #5ddcff, #3c67e3 43%, #4e00c2);
    background-clip: text;
    -webkit-background-clip: text;
}

.graph-title-shadow{
    
    text-shadow: -1px -1px 10px #161618aa,
        1px -1px 10px #161618aa,
        -1px 1px 10px #161618aa, 
        1px 1px 10px #161618aa;

    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 0px;
    line-height: 1;

    position: absolute;
    bottom: -4vw;
}

.graph-text{
    color: #b3c4f9;
    text-shadow: -0.5px -0.5px 3px #14141677, 
        0.5px -0.5px 3px #16161877,
        -0.5px 0.5px 3px #16161877, 
        0.5px 0.5px 3px #16161877;
    font-weight: bold;
    font-size: 1rem;
}

.graph-text > a{
    color: white;
    text-shadow: -0.5px -0.5px 3px #14141677, 
        0.5px -0.5px 3px #16161877,
        -0.5px 0.5px 3px #16161877, 
        0.5px 0.5px 3px #16161877;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1rem;
}

.safari_bg {
    filter: contrast(10);
    opacity: 0.2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}