.api-card-positioner{
    min-height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  
.api-card{
  display: grid;
  margin-left: 25px;
  margin-top: 20px;
  min-height: 50px;
  height: max-content;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 2px rgb(115 126 229);
  padding: 10px 10px 10px 10px;
}

.api-card:hover{
  background-color: #688cf722;
  border: none;
  color: white !important;
  /* font-size: 1.1rem; */
  font-weight: 400;
  /* border-bottom: #688cf755 2px solid; */
  cursor: pointer;
}

  .api-card h3{
    color: white;
    font-size: 2px;
    -webkit-line-clamp: 1;
  }

  .api-card h2{
    font-family:sans-serif;
    color:#fff;
    font-size: 1rem;
    -webkit-line-clamp: 3;
  }
  .api-card h1{
    color: white;
    font-size: 2rem;
    -webkit-line-clamp: 1;
  }
.api-card button{
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: #eb2f96;
    border: none;
  }
  .api-card-positioner h1, .api-card-positioner h2, .api-card-positioner h3,p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }


