.contact-unfold {
    // width: 24px;
    max-width: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    transition: max-width .5s ease;
    cursor: pointer;
    color: white;
    fill: white;
    white-space: nowrap;

    >span {
        font-size: 24px;
        vertical-align: middle;
    }

    &:not(:last-of-type) {
        margin-right: 24px;
    }


    >svg {
        fill: inherit;
    }

    &.discord {
        max-width: initial;

        >svg {
            height: 24px;
            width: auto;
        }
    }
}

.contact-unfold-text {
    margin-left: 12px;
    font-size: 16px;
}

@media (min-width: 1024px) {
    .contact-unfold {
        &:hover {
            max-width: 15rem;
            color: var(--contact-color);
            fill: var(--contact-color);
        }
    }
}