.section-hero {
  position: sticky;
  top: 0;
  overflow: hidden;

  .container {
    transform: scale(1);
    opacity: 1;
    transition: .5s ease;

    &.zoom {
      transform: scale(5);
      opacity: 0;
      transition: .5s ease-in-out;
      pointer-events: none;
    }
  }


  .sec-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  h1 {
    text-align: center;
    width: 100%;
  }

  button {
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1023px) {
  .section-hero {

    button {
      bottom: -10rem;
    }
  }
}