@import '~antd/dist/antd.css';

:root{
  --header-height: 3rem;
  --app-background: #212534;
  --app-background-dark: #161922;
}

@font-face {
  font-family: 'thicccboi';
  src: local('thicccboi'), url(./static/fonts/Webfont/THICCCBOI-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'thicccboi';
  font-weight: 500;
  src: local('thicccboi'), url(./static/fonts/Webfont/THICCCBOI-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'thicccboi';
  font-weight: 400;
  src: local('thicccboi'), url(./static/fonts/Webfont/THICCCBOI-SemiBold.woff2) format('woff2');
}

.App {
  text-align: center;
  color: white;
  font-family: 'thicccboi', sans-serif;
}

.App > footer {
  padding: 1em;
  padding-top: 2em;
  background-color: var(--app-background);
  border-top: 3px solid;
  border-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2) 1;
}



body {
  min-height: 100vh;
  width: 100%;
  background: var(--app-background-dark);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
  box-sizing: border-box;
}

.App-header{
  height: var(--header-height);
  border-bottom: 1px #37487b solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 2rem;
  position: fixed;
  width: 100vw;
  z-index: 50;
  background-color: var(--app-background);
}

.App-menu{
  display: flex;
  flex-direction: row;
}

.App-menu-item{
  background-color: transparent;
  border: none;
  color: white !important;
  /*font-size: 1.1rem;*/
  font-weight: 400;
  transition: all 1s;
  height: var(--header-height);
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: #688cf700 2px solid;
}

.App-menu-item:hover, .App-menu-item__selected{
  background-color: #688cf722;
  border: none;
  color: white !important;
  font-size: 1.1rem;
  font-weight: 400;
  border-bottom: #688cf755 2px solid;
}

.App-menu-item__selected{
  border-bottom: 2px solid;
  border-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2) 1;
}

.App-header-logo{
  height: 60%;
  cursor: pointer;
}

.App-contact-card-positioner{
  position: relative;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-contact-card{
  z-index: 99;
  position: absolute;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 50px 0px 50px;
  border: 3px solid;
  border-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2) 1;
  border-radius: 7px;
  background-color: #1a1d28;
  transition: all 1s;
}

.App-contact-card > h2{
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--contact-color);
  padding-bottom: 5px;
}

.relative-container{
  height: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 800px;
  max-width: calc(100% - 20px);
  overflow: hidden;
  margin-top: 2rem;
}

.images > img{
  flex: 1;
  height: 30vh;
  width: calc(33% - 20px);
  border: 3px solid ;
  border-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2) 1;
  /* filter: sepia(40%) ;  */
}

.images > div{
  width: 20px;
}

.code{
  padding:1em;
  background: #ffffff22;
  color: cornflowerblue;
  margin-top: 1em;
}