.sep{
    height: 0;
    width: 100%;
}

.sep-dual{
    position: relative;
    top: -6.4vw;
    height: 6.4vw; /* 50vw * sin(7deg) */
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
}

.sep-dual-left {
    content: ' ';
    display: block;
    position: relative;
    bottom: -100%;
    left: -10%;
    z-index: 2;
    background: var(--app-background);
    width: 120%;
    height: 250px;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.sep-dual-right {
    content: ' ';
    display: block;
    position: relative;
    bottom: calc(250px - 100%);
    left: -10%;
    z-index: 2;
    background: var(--app-background);
    width: 120%;
    height: 250px;
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}

.article {
    position: relative;
    color: white;
    background-color: var(--app-background-dark);
    border-top: 1px #37487b solid; /* temp */
    padding: 3rem;
    z-index: 999;

    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    display: table;
}

.article h1 {
    color: white;
}

.article p a {
    color: #92b9fd;
    text-decoration: underline;
    font-weight: normal;
    transition: all 0.5s;
}

.article p a:hover {
    color: #dfedff;
}

.article p {
    width: 900px;
    display: inline-table;
    max-width: calc(100vw - 20px);
    text-align: justify;
    font-size: 1rem;
}

.article>div {
    width: 900px;
    max-width: calc(100vw - 20px);
}

.article .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article-img{
    flex: 1;
    width: 900px;
    max-width: calc(100vw - 20px);
    margin-top: 2vh;
}
.article_child{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.article_child ul{
    display: inline-block;
}

img {
    object-fit: cover;
}

.ant-space-horizontal > .ant-space-item > img {
    width: 100%;
}

.ant-space-veritcal > .ant-space-item > img {
    height: 100%;
}

.article h2, .article h3 {
    text-align: center;
    width: 900px;
    max-width: calc(100vw - 20px);
    color: white;
}
.article h1{
    font-size: calc(3vw + 1rem);
    margin-bottom: 10vh;
}
.article h2{
    font-size: calc(1rem + 1vw);
}
.article p{
    font-size:1rem;
}
.article ul{
    font-size:1rem;
    /* width: 900px;
    max-width: calc(100% - 20px); */
    align-self: center;
    text-align: left;
    list-style: upper-roman;
}

